.benefits-section {
    background: linear-gradient(to right bottom, #9b0d9b, #323131);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
     
}


.benefits-section p, ul {
    color: #dbcccc;
}

.text-section{
    position: relative;
}



.text-section h2 {
    color: #ffffff;
    font-family: 'Sue Ellen Francisco';
    font-size: 4em;
    font-weight: 180;
  
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}

.button-section h3 {
color:#ffffff ;
  font-weight: 550;
  font-family: 'Sue Ellen Francisco';
  font-size: 3em;
    
}

.button-section .btn {
    background-color: #f7f2ff; /* light white */
    color: #e81f8b; /* pink */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button-section .btn:hover {
    background-color: #B727C2;; /* purple */
    color: #fff; /* white */
  }
  

