/* Set the background color to a gradient of purple and black */
.navbar {
    background: linear-gradient(to right, #800080, #000000);
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    }
  
  /* Add a hover effect on the links */
  .navbar .nav-item .nav-link:hover {
    color: #fff;
    background-color: #B727C2;
    border-radius: 5px;
  
    }
    
  /* Add a transition effect when hovering over the links */
  .navbar .nav-item .nav-link {
    transition: 0.3s;
    }
  
  .navbar-brand, .nav-item {
    padding-left: 10px;
  }