.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;

}

.track-outline, .moving-outline {
    transform-origin: center;
}

.player-container > h1 {
    font-family: 'Sue Ellen Francisco';
    font-size: 70px;
    padding-left: 40px;
    padding-top: 20%;
}

.circle-graphics {
    position: relative;
}

.play-icon {
    font-size: xx-large;
    position: relative;
    top: 270px;
    color: #ffffff;
    cursor: pointer;
    z-index: 3;  
}


#timer {
    color: #ffffff;
    position: relative;
}

.player-container p {
    font-family: 'Sue Ellen Francisco';
    font-size: 25px;
    color: #B727C2;
    position: relative;
    bottom: -20px;
}

