* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set the container height to 100% of the viewport height */
  }
  
  section {
    flex-grow: 1; /* Allow each section to expand and fill the available space */
    overflow: auto; /* Add a scrollbar if the content exceeds the section height */
  }
  
  #main,
  #meditation,
  #benefits {
    min-height: 0; /* Reset the minimum height to allow the sections to shrink */
  }
  
  
  #main {
    background-image: url(./images/full-shot-adult-meditating.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 96vh;
    width: 100%;
}


/* Set the background color to a gradient of purple and black */
.navbar {
  background: linear-gradient(to right, #800080, #000000);
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
  }

/* Add a hover effect on the links */
.navbar .nav-item .nav-link:hover {
  color: #fff;
  background-color: #B727C2;
  border-radius: 5px;

  }
  
/* Add a transition effect when hovering over the links */
.navbar .nav-item .nav-link {
  transition: 0.3s;
  }

.navbar-brand, .nav-item {
  padding-left: 10px;
}

