* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  .app-container {
    display: flex;
    flex-direction: column;
   /* Set the container height to 100% of the viewport height */
  }
  
  section {
    flex-grow: 1; /* Allow each section to expand and fill the available space */
    /* Add a scrollbar if the content exceeds the section height */
  }
  
  #main,
  #meditation,
  #benefits {
    min-height: 0; /* Reset the minimum height to allow the sections to shrink */
  }
  
  
  #main {
    background-image: url(./images/full-shot-adult-meditating.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
